<div xmlns:wireframe="http://typo3.org/ns/TYPO3/CMS/Wireframe/ViewHelpers" class="t3-grid-container t3js-content-container"
     data-tca="{tca -> wireframe:format.json.encode()}" data-language="{language}" data-uid="{uid}">
    <table class="t3-backend-layout-columns t3-grid-table t3js-backend-layout-columns">
        <colgroup>
            <f:for each="{columns}" as="column">
                <col style="width: {column.width}%"></col>
            </f:for>
        </colgroup>
        <f:for each="{rows}" as="row">
            <tr>
                <f:for each="{row.cells}" as="cell">
                    <td valign="top"
                        rowspan="{f:if(condition: '{cell.rowSpan} > 0', then: '{cell.rowSpan}')}"
                        colspan="{f:if(condition: '{cell.columnSpan} > 0', then: '{cell.columnSpan}')}"
                        data-uid="{cell.uid}"
                        class="t3js-backend-layout-column t3-grid-cell t3-backend-layout-column
                            {f:if(condition: '!{cell.assigned}', then: ' t3-grid-cell-unassigned')}
                            {f:if(condition: '{cell.restricted}', then: ' t3-grid-cell-restricted')}
                        "
                    >
                        <div class="t3-backend-layout-column-header">
                            <div class="t3-backend-layout-column-header-icons"></div>
                            <div class="t3-backend-layout-column-header-label">{cell.title}</div>
                        </div>
                        <div class="t3js-sortable t3js-sortable-lang t3js-sortable-lang-{language} t3-backend-layout-column-body
                                {f:if(condition: '{cell.empty}', then: ' t3-backend-layout-column-body-empty')}"
                        >
                            <f:if condition="{cell.actions.prependContentElement}">
                                <div class="t3js-new-content-element">
                                    <f:if condition="{cell.actions.prependContentElement}">
                                        <a href="{cell.actions.prependContentElement -> f:format.htmlspecialchars()}" class="btn btn-default btn-sm">
                                            {wireframe:icon(identifier: 'actions-document-new', size: 'small')}
                                            {f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_layout.xlf:content')}
                                        </a>
                                    </f:if>
                                </div>
                            </f:if>
                            <div class="t3js-content-element-drop-zone" data-target="{uid}"></div>
                        </div>
                                {cell.childHtml -> f:format.raw()}
                    </td>
                </f:for>
            </tr>
        </f:for>
    </table>
</div>