<div class="module" data-module-id="{moduleId}" data-module-name="{moduleName}">
    <f:if condition="{formTag}">
        <f:then>

            <f:comment>ugly ... any other way? this part could have a review by mattes</f:comment>

            <f:format.raw>{formTag}</f:format.raw>
        </f:then>
    </f:if>
    <f:if condition="{docHeader.enabled}">
        <f:render partial="DocHeader" arguments="{docHeader:docHeader}" />
    </f:if>
    <div class="module-body t3js-module-body">
        <f:flashMessages queueIdentifier="{flashMessageQueueIdentifier}" />
        <f:format.raw>{content}</f:format.raw>
    </div>
    <f:if condition="{formTag}">
        <f:then>

            <f:comment>ugly ... any other way?</f:comment>

            </form>
        </f:then>
    </f:if>
</div>
<f:format.raw>{sidebar.html}{sidebar.after}</f:format.raw>