.t3-sidebar {
    background-color: #222222;
    color: #ffffff;
    width: 0;
    position: fixed;
    right: 0 !important;
    top: 0;
    bottom: 0;
    z-index: 300;
}
.t3-sidebar-border {
    width: 9px;
    background-color: #626262;
    position: relative;
    height: 100%;
    border: 1px solid #444444;
    right: 9px;
    top: 0;
}

.t3-sidebar[data-resizable] .t3-sidebar-border:hover {
    cursor: col-resize;
}

.t3-sidebar-toggle {
    height: 80px;
    width: 14px;
    position: absolute;
    right: 7px;
    top: calc( 50% - 40px );
    background-color: inherit;
    border: inherit;
    border-right: none;
    border-radius: 3px;
}

.t3-sidebar-toggle:after {
    font-family: 'FontAwesome';
    content: '\f0da';
    position: absolute;
    top: calc( 50% - 9px );
    display: block;
    width: 100%;
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
}

.t3-sidebar-toggle:hover {
    cursor: pointer;
    background-color: #6f6f6f;
}

.t3-sidebar[data-toggle=expanded] {
    width: 80px;
}

.t3-sidebar[data-toggle=full-expanded] {
    width: 280px;
}

.t3-sidebar[data-expandable] .t3-sidebar-toggle:after {
    content: '\f0d9';
}

.t3-sidebar-content {
    position: absolute;
    top: 0;
    width: 100%;

    border-bottom: 1px solid #2b2b2b;
    border-top: 1px solid #111111;
}

.t3-sidebar-group {

}

.t3-sidebar-group-container {
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    border-bottom: 1px solid #111111;
}

.t3-sidebar-group-container-item {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.t3-sidebar-group-container-item.ui-draggable-dragging .text,
.t3-sidebar-group-container-item.ui-draggable-dragging .ui-draggable-copy-message {
    display: none !important;
}

.t3-sidebar[data-toggle=expanded] .t3-sidebar-group-container-item {
    justify-content: center;
}

.t3-sidebar[data-toggle=expanded] .t3-sidebar-group-container-item .icon {
    margin: 0;
}

.t3-sidebar-group-container-item .icon {
    flex-shrink: 0;
    margin-right: 10px;
}

.t3-sidebar-group-container-item .text {
    display: none;
}

.t3-sidebar[data-toggle=full-expanded] .t3-sidebar-group-container-item .text {
    display: block;
    max-width: 200px;
}

.t3-sidebar-group-container-item .title {
    font-weight: bold;
}

.t3-sidebar-group-header {
    min-height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
    border-top: 1px solid #2b2b2b;
}

.t3-sidebar[data-toggle=expanded] .t3-sidebar-group-header {
    text-align: center;
}

.module, .module-docheader {
    width: calc( 100% - 9px );
}